::-webkit-scrollbar {
    width: 6px;
    padding-right: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #bbbab9;
    border-radius: 50px;
}

.navbar {
    background: #000;
    height: 639px;
}

.navbar .logo img {
    width: 80px;
    margin: -1px;
    background: #849e81;
    padding: 10px;
}

.navbar .elementor-widget-container {
    --e-transform-rotateZ: -90deg;
}

.navbar .elementor-heading-title {
    font-family: unica one, Nunito;
    color: #fff;
    margin-left: 14px;
    font-size: 29px;
    margin-top: 5px;
    font-weight: 400;
    text-transform: none;
    line-height: 1em;
    letter-spacing: 1px;
}

.navbar header h1 {
    margin-left: 186px;
    margin-bottom: -18px;
    color: #849e81;
    font-family: unica one, Nunito;
}

.navbar header h2 {
    font-family: unica one, Nunito;
    color: #fff;
    font-size: 49px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    margin-left: 184px;
}

.navbar header p {
    font-family: roboto, Nunito;
    color: #fff;
    width: 464px;
    margin-left: 192px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    letter-spacing: 1px;
}

.navbar section {
    margin-top: -582px;
}

.navbar section a {
    font-size: 18px;
    margin-left: 1170px;
    color: #849e81;
    border: 2px solid #849e81;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.navbar section a:hover {
    background: #849e81;
    color: #000;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    margin-right: 24px;
    margin-top: 16px;
    font-size: 21px;
    text-align: right;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
    transition: 0.3s ease-in-out;
    font-family: unica one, Sans-serif;
    line-height: 3;
}

.navbar ul li a:hover {
    transition: 0.3s ease-in-out;
    border-right: 1px solid #fff;
}

.navbar ul li a::after {
    color: #849e81;
    border-right: 5px solid #849e81;
}

.link {
    text-align: right;
    margin-right: 32px;
}

.link p a {
    color: #636363;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #636363;
    transition: 0.4s ease-in-out;
}

.link p a:hover {
    color: #fff;
}

.link span {
    color: #636363;
}

.icon {
    margin-left: 191px;
    color: #849e81;
}

.fa-brands,
.fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    padding: 7px;
    border: 1px solid #849e81;
    transition: 0.4s ease-in-out;
}

.fa-brands:hover {
    background: #849e81;
    color: #000;
}

img {
    width: 282px;
    margin-left: 705px;
    margin-top: -475px;
}